/* color variables */
:root {
    --darkest: #000000;
    --darker: #1E2124;
    --dark: #36393E;
    --light: #F2D3B4;
    --light_light: #F1E6E0;
    --primary: #942822;
    --primary_dark: #551714;
    --primary_light: #c76b54;
    --secondary: #97b78e;
    --secondary_dark: #788868;
    --padding: 10px;
}

/* body */
html, body {
    font-family: ORunde, sans-serif;
    background-color: var(--darker);
    margin: 0;
    font-style: normal;
    font-weight: 550;
    color: var(--light_light);
    font-size: 100%;
}

/* headers */
h1 {
    font-family: Rockwell, serif;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin: 0;

    font-weight: 700;
}

h2 {
    font-family: Rockwell, serif;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0;
    color: var(--light);

    font-weight: 700;
}

h3 {
    font-family: Rockwell, serif;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0;
    color: var(--primary_light);
}

h4 {
    font-family: Rockwell, serif;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0;
    color: var(--secondary);
}

i {
    font-family: Rockwell, serif;
    font-weight: 600;
}

b {
    color: var(--primary_light);
    font-weight: 800;
}

a:link {
    color: var(--secondary);
}

a:visited {
    color: var(--secondary_dark);
}

a:hover {
    color: var(--primary_light);
}



