@import url('./global.css');

.container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    
    gap: 1rem;
    @media only screen and (max-width: 800px) {
        flex-flow: column nowrap;
    }
}

.container > div {
    min-width: 33%;
    max-width: 100%;
    border-radius: 1rem;

    /* debuggin */
    /* border: 2px solid red; */
}

.infobox {
    flex: 4;
    @media only screen and (max-width: 800px) {
        flex: 1;
    }
}

.eventbox {
    background: var(--primary_dark);

    flex: 3;
}

.koboldbox {
    flex: 4;
}

.dragonbox {
    flex: 2;
}

.contactbox {
    flex: 5;
}

.eventbox-list {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;

    @media only screen and (max-width: 800px) {
        flex-flow: column nowrap;
    }

}

.event-snippet {
    background: var(--primary);
    border-radius: 0.5rem;
    display: flex;

    @media only screen and (max-width: 800px) {
        width: 100%;
    }
}


