@import url('./global.css');

.container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    
    gap: 1rem;
    @media only screen and (max-width: 800px) {
        flex-flow: column nowrap;
    }
}

.container > * {
    min-width: 33%;
    max-width: 100%;
    border-radius: 1rem;

    /* debuggin */
    /* border: 2px solid red; */
}

.infobox {
    flex: 4;
    @media only screen and (max-width: 800px) {
        flex: 1;
    }
}

.eventbox {
    background: var(--primary_dark);

    flex: 3;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}


.eventbox-list {
    display: flex;
    align-items: stretch;
    gap: 0.5rem;
    padding: 1rem;
    height: 100%;

    @media only screen and (max-width: 800px) {
        flex-flow: column nowrap;
    }
    @media only screen and (min-width: 800px) {
        flex-wrap: wrap;
    }

}

.event-snippet {
    background: var(--primary);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;

    &:hover {
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3), -.1rem -.1rem .4rem var(--primary_light);
        z-index: 10;
    }

    @media only screen and (max-width: 800px) {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        h2 {
            width: 100%;
            height: 100%;
        }
    }
    @media only screen and (min-width: 800px) {
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
    }
    
}

.event-daybox {
    background: var(--darker);
    border-radius: 0.3rem;
    margin: 0.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--light_light);

    @media only screen and (max-width: 800px) {
        width: 7rem;
        flex-direction: column;
    }
    @media only screen and (min-width: 800px) {
        width: 100%;
        box-sizing: border-box;
        margin-top: 0;
    }

    h1 {
        width: auto;
    }


}

.page-snippet {
    text-decoration: none;
    flex: 3;
    height: fit-content;

    background: var(--secondary_dark);
    color: var(--light_light);

    transition: all 0.3s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3), -.1rem -.1rem .4rem var(--secondary);
        z-index: 10;
    }

    div {
        color: var(--light_light);
        margin: 0.5rem;
        flex: 1;
    }
}

.koboldbox {
    flex: 4;
}

.sponsor-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;

    gap: 1rem;
}

.sponsor-snippet {
    background: var(--dark);
    @media only screen and (min-width: 800px) {
        min-width: 10rem;
        max-width: 15rem;
    }
    @media only screen and (max-width: 800px) {
        width: 100%;
    }

    border-radius: 1rem;
    text-decoration: none;
    color: var(--light) !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    padding: 1rem;

}

.sponsor-image {
    width: 100%;
    max-width: 10rem;
    height: auto;
}

.dragonbox {
    flex: 2;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.dragon-list {
    overflow: hidden;
    height: 100%;
}

.dragon-list-container {
    display: flex;
    height: 100%;
}

.dragon-snippet-container {
    flex: 0 0 100%;
    min-width: 0;
    width: 100%;
    height:100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dragon-snippet {
    background: var(--dark);

    width: 75%;

    border-radius: 1rem;
    text-decoration: none;
    color: var(--light) !important;

    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    transition: all 0.3s ease-in-out;
}

.dragon-image {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

.contactbox {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

